In [17]:
import pandas as pd

In [18]:
# CSV 파일을 읽기
df = pd.read_csv("C:/Users/rlarb/Downloads/2018Floor6.csv")

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264960 entries, 0 to 264959
Data columns (total 30 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          264960 non-null  object
 1   z1_AC1(kW)    264487 non-null  float64
 2   z1_Light(kW)  264458 non-null  float64
 3   z1_Plug(kW)   264428 non-null  float64
 4   z1_S1(degC)   101122 non-null  float64
 5   z1_S1(RH%)    101122 non-null  float64
 6   z1_S1(lux)    101122 non-null  float64
 7   z2_AC1(kW)    264486 non-null  float64
 8   z2_Light(kW)  264458 non-null  float64
 9   z2_Plug(kW)   264526 non-null  float64
 10  z2_S1(degC)   103434 non-null  float64
 11  z2_S1(RH%)    103434 non-null  float64
 12  z2_S1(lux)    103434 non-null  float64
 13  z3_Light(kW)  264527 non-null  float64
 14  z3_Plug(kW)   264519 non-null  float64
 15  z4_AC1(kW)    262746 non-null  float64
 16  z4_AC2(kW)    262746 non-null  float64
 17  z4_AC3(kW)    262746 non-null  float64
 18  z4_AC4(kW)    264487 non-null  float64
 19  z4_Light(kW)  263552 non-null  float64
 20  z4_Plug(kW)   264517 non-null  float64
 21  z4_S1(degC)   103633 non-null  float64
 22  z4_S1(RH%)    103633 non-null  float64
 23  z4_S1(lux)    103633 non-null  float64
 24  z5_AC1(kW)    264487 non-null  float64
 25  z5_Light(kW)  263314 non-null  float64
 26  z5_Plug(kW)   263552 non-null  float64
 27  z5_S1(degC)   102297 non-null  float64
 28  z5_S1(RH%)    102297 non-null  float64
 29  z5_S1(lux)    102297 non-null  float64
dtypes: float64(29), object(1)
memory usage: 60.6+ MB

In [20]:
#Date칼럼 datetime형식변환
df['Date'] = pd.to_datetime(df['Date'])

In [21]:
#결측치 처리(이전데이터로 결측치 재우기)
df.fillna(method='ffill', inplace=True)

In [22]:
# 'AC', 'Light', 'Plug' 단어를 포함한 칼럼들을 찾아 합산하여 새로운 칼럼으로 추가
ac_columns = [col for col in df.columns if 'AC' in col]
light_columns = [col for col in df.columns if 'Light' in col]
plug_columns = [col for col in df.columns if 'Plug' in col]

df['be_ac_energy'] = df[ac_columns].sum(axis=1)
df['be_light_energy'] = df[light_columns].sum(axis=1)
df['be_plug_energy'] = df[plug_columns].sum(axis=1)

In [23]:
# 'Date' 칼럼명을 'be_date'로 변경
df.rename(columns={'Date': 'be_date'}, inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264960 entries, 0 to 264959
Data columns (total 33 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   be_date          264960 non-null  datetime64[ns]
 1   z1_AC1(kW)       264960 non-null  float64
 2   z1_Light(kW)     264960 non-null  float64
 3   z1_Plug(kW)      264960 non-null  float64
 4   z1_S1(degC)      264960 non-null  float64
 5   z1_S1(RH%)       264960 non-null  float64
 6   z1_S1(lux)       264960 non-null  float64
 7   z2_AC1(kW)       264960 non-null  float64
 8   z2_Light(kW)     264960 non-null  float64
 9   z2_Plug(kW)      264960 non-null  float64
 10  z2_S1(degC)      264960 non-null  float64
 11  z2_S1(RH%)       264960 non-null  float64
 12  z2_S1(lux)       264960 non-null  float64
 13  z3_Light(kW)     264960 non-null  float64
 14  z3_Plug(kW)      264960 non-null  float64
 15  z4_AC1(kW)       264960 non-null  float64
 16  z4_AC2(kW)       264960 non-null  float64
 17  z4_AC3(kW)       264960 non-null  float64
 18  z4_AC4(kW)       264960 non-null  float64
 19  z4_Light(kW)     264960 non-null  float64
 20  z4_Plug(kW)      264960 non-null  float64
 21  z4_S1(degC)      264960 non-null  float64
 22  z4_S1(RH%)       264960 non-null  float64
 23  z4_S1(lux)       264960 non-null  float64
 24  z5_AC1(kW)       264960 non-null  float64
 25  z5_Light(kW)     264960 non-null  float64
 26  z5_Plug(kW)      264960 non-null  float64
 27  z5_S1(degC)      264960 non-null  float64
 28  z5_S1(RH%)       264960 non-null  float64
 29  z5_S1(lux)       264960 non-null  float64
 30  be_ac_energy     264960 non-null  float64
 31  be_light_energy  264960 non-null  float64
 32  be_plug_energy   264960 non-null  float64
dtypes: datetime64[ns](1), float64(32)
memory usage: 66.7 MB

In [10]:
# 필요한 칼럼들만 선택하여 재생성
df = df[['be_date', 'be_ac_energy', 'be_light_energy', 'be_plug_energy']]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264960 entries, 0 to 264959
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   be_date          264960 non-null  datetime64[ns]
 1   be_ac_energy     264960 non-null  float64
 2   be_light_energy  264960 non-null  float64
 3   be_plug_energy   264960 non-null  float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 8.1 MB

In [12]:
# 'be_floor' 칼럼생성후 층수입력
df['be_floor'] = 6

In [14]:
df.head()

              be_date  be_ac_energy  be_light_energy  be_plug_energy  be_floor
0 2018-07-01 00:00:00           0.0             0.03            0.79         6
1 2018-07-01 00:01:00           0.0             0.03            0.78         6
2 2018-07-01 00:02:00           0.0             0.03            0.83         6
3 2018-07-01 00:03:00           0.0             0.03            0.89         6
4 2018-07-01 00:04:00           0.0             0.03            0.88         6

In [15]:
# 전처리된 데이터프레임을 새로운 CSV 파일로 저장
df.to_csv('be_6_energy.csv', index=False)